.EndBackground {
  margin: 0;
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  height: 100vh; /* h-screen */
  width: 100vw; /* w-screen */
  align-items: center; /* items-center */

  background-image: url("/img/GameBackground.png"); /* bg-[url(...)] */
  background-size: cover; /* bg-cover */
  background-position: center; /* bg-center */
  background-repeat: no-repeat;
}

.logomysteryconEnd{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}


.logomysteryEnd{
    max-width: 21rem;
}


#lucktext h1{
    margin-top: -1rem;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    font-style: italic;
}

.firstplace{
    display: flex;
    justify-content: center;
}

.avatar-container{
    width: 10rem;
    height: 10rem;
    font-family: "poppins", sans-serif;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color:white;
    text-align: center;
}


.avatar-container img{
    margin-top: -2rem;
}


.avatar-container h1{
    margin-top: -2rem;
    color: #F4ACB7 ;

}

.avatar-container p{
    font-size: xx-large;
}

.secondand3place{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5rem;
    gap: 3rem;
}



.BackCon {
    margin-top: 5rem;
  display: flex;
  justify-content: center;
}


.BackbuttonEnd {
  margin-top: 0.3rem;
  height: 3.5rem;
  width: 14rem;
  border-radius: 13px;
    display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg,rgba(255, 202, 212, 1) 0%, rgba(244, 172, 183, 1) 100%);

  /* no background and no mix-blend-mode here */
}

.BackbuttonEnd h4 {
font-family:"poppins", sans-serif;
color: white;
font-size: 24px;
}