.GuessBackground {
  margin: 0;
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  height: 100vh; /* h-screen */
  width: 100vw; /* w-screen */
  align-items: center; /* items-center */

  background-image: url("/img/GameBackground.png"); /* bg-[url(...)] */
  background-size: cover; /* bg-cover */
  background-position: center; /* bg-center */
  background-repeat: no-repeat;
}


.GuessInstruction h1, h2{
    font-family: "poppins", sans-serif ;
    color: white;
    font-size: 37px;
    font-weight: 800;
    max-width: 21rem;
    text-align: center;
}

.GuessInstruction h2{
    font-family: "poppins", sans-serif ;
    color: white;
    font-size: 37px;
    font-weight: 800;
    max-width: 21rem;
    text-align: center;
}


.player-name{
    color: #F4ACB7 ;
}


.GuessInstruction{
    margin-top: 5rem;
}



#guessform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.input-area-guess{
border-radius: 14px;
background: #F4ACB7;
margin-bottom: 0rem;
padding: 10px;
width: 20rem;
height: 4.8rem;
flex-shrink: 0;
}

.input-area-guess::placeholder{
font-size: 21px;
text-align: center;
font-family: "poppins" sans-serif;
color: rgb(255, 255, 255);
}

.input-area-guess, text{
text-align: center;
font-size: 28px;
border: 2px white;
font-family: "poppins" sans-serif;
font-weight: 500;
color: white;
font-style: italic;
}

.Guess-Submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    margin-top: 2rem;
}


.SubmitGuess{
margin-top: 3rem;
border-radius: 14px;
background: #F4ACB7;
margin-bottom: 0rem;
padding: 10px;
width: 15rem;
height: 3.8rem;
}


.SubmitGuess{
display: flex;
justify-content: center;
align-items: center;
}


.SubmitGuess h4{
    text-align: center;
    font-family: "poppins", sans-serif;
    color: white;

}


#category h5{
margin-top: 3rem;
    font-size: 24px;
    font-family: "poppins", sans-serif;
    color: #F4ACB7;
    font-weight: 500;
}

#GameTipsText{
    margin-top: 2rem;
    font-family: "poppins", sans-serif;
    color: white;
    max-width: 25rem;
    text-align: center;
}



