@import "tailwindcss";
/* ---------- Root Variables ---------- */
:root {
}
/* ---------- Global Styling ---------- */
html {
  box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  background-color: var(--light-green);
  color: var(--text-color-dark);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

